{
  "printWidth": 120,
  "trailingComma": "none",
  "singleQuote": true,
  "useTabs": false,
  "endOfLine": "auto",
  "arrowParens": "always",
  "tabWidth": 2,
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": true
}
