services:
  postgres:
    image: postgres:18-alpine
    restart: always
    networks:
      - library-network
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql

  redis:
    image: redis:8-alpine
    restart: always
    networks:
      - library-network
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    command: ['redis-server', '--appendonly', 'yes']

networks:
  library-network:

volumes:
  postgres-data:
  redis-data:
